@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&family=Ubuntu&family=Varela+Round&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0;1,100&family=Ubuntu&family=Varela+Round&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100&family=Roboto:ital,wght@0,100;0,300;1,100&family=Ubuntu&family=Varela+Round&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heroImg{
  float: right;
  height: 450px;
  width: 450px;
}
body{
  background-color: #e1f5ff;
  margin: 0;
  padding: 0;
}

.first-container{
  height: 650px;
  width: 100%;
  background-color: #FFEA20;
  border-radius: 20px;
  /* margin-top: 50px; */
  background-image: url("../images/Untitled\ design\ \(14\).png");
  background-size: cover;
  position: relative;
  top: 100px;
}

.second-container{
  height: 150px;
  width: 100%;
  background-color: #303030;
  border-radius: 20px 20px 0 0;
  position: relative;
  bottom: -20px;
  
}
.third-container{
  height: 650px;
  width: 100%;
  background-color: #8DCBE6;
  border-radius: 20px;
  text-align: center;
  position: relative;
  bottom: 60px;
}
.mainH{
  font-size: 65px;
  /* padding-top: 20px;
  padding-left: 10px; */
  position: relative;
  top: 60px;
  margin-left: 100px;
  font-family: 'Montserrat';
  font-weight: bold;
}
.sec-para{
  font-family: 'poppins' ;
  font-size: 25px;
  padding: 20px;
  position: relative;
  top: 80px;
  left: 80px;
  padding-left: 20px;
  font-weight: bolder;
  width: 50%;
  text-align: left;
}
.allergy{
  color: #e1f5ff;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 26px;
  padding: 20px;
  font-weight: bold;
  font-family: 'poppins';
}a:hover{
  color:#9DF1DF;
}
a{
  text-decoration: none;
  color: #e1f5ff;
}

.features{
  font-family: 'Montserrat';
  font-size: 40px;
  padding: 30px;
}
span{
  font-size: 60px;
}
.text1{
  padding: 20px;
  position: relative;
  bottom: 50px;
  font-size: 18px;
  

}
.Card-container{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}

.Fourth-container{
  height: 650px;
  width: 100%;
  background-color: #f5f5f5f5;
  border-radius: 20px;
  position: relative;
  bottom: 80px;
}

.comImg{
  float: right;
  height: 500px;
  width: 600px;
}

.community{
  font-family: 'poppins';
  font-size: 30px;
  font-weight: bold;
  padding-top: 70px;
  margin-left: 50px;
}

.btn{
  border:solid black;
  width: 200px;
  color: black;
  /* background-color: black; */
  text-align: center;
  font-size: 30px;
  margin-left: 370px;
  margin-top: 30px;
  font-family: 'Montserrat';
  border-radius: 1rem 0 1rem 0;
}
.btn:hover{
  background-color: black;
  color: #e1f5ff;
}
.fifth-container{
  height: 650px;
  width: 100%;
  background-color: #303030;
  border-radius: 20px;
  position: relative;
  bottom: 200px;
  padding: 20px
}
.sixth-container{
  height: 450px;
  width: 100%;
  background-color: #9DF1DF;
  border-radius: 20px;
  position: relative;
  bottom: 400px;  
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 300px;
  /* margin: 20px auto; */
  position: relative;
  top: 100px;
}

.firstBlog{
    background-image: url("../images/WheatImg.jpg");
    background-size: cover;
}
.secondBlog{
    background-image: url("../images/LactoseImg.jpg");
    background-size: cover;
}
.thirdBlog{
    background-image: url("../images/AllergicImg.jpg");
    background-size: cover;
}
.forthblog{
    background-image: url("../images/soy.jpeg");
    background-size: cover;
}

.Head{
  font-size: 30px;
  color: #303030;
  background-color: #8DCBE6;
  
}

.des{
  background-color: #303030;
  color: #8DCBE6;
}
.blogs{
  font-family: 'poppins';
  font-size: 50px;
  font-weight: bold;
  padding-top: 70px;
  margin-left: 50px;
  color: #e1f5ff;
}
.blogDes{
  position: relative;
  top: 170px;
}